<!DOCTYPE html>
<html lang="en">
<head>
	<title>lientApp to MyQ Intern Middleware testing</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="container">
	<div class="text-center container">
		<h1 class="text-primary">MyQ Intern Middleware Testing WebApp</h1>
		<h4>Hi, you can send request to middleware from here.</h4>
	</div>

	<form class="container" action="/" method="POST">
		<div class="form-group">
			<label>Topic: G/</label><br>
			<div class="col-md-4">
				Gateway Hub Serial Number<input type="text" class="form-control" id="serialNum" name="serialNum">
			</div>
			<div class="col-md-4">
				Message Type<input type="text" class="form-control" id="msgType" name="msgType">
			</div>
			<div class="col-md-4">
				Attribute ID<input type="text" class="form-control" id="attId" name="attId">
			</div>
		</div>
		<br><br><br>
		<div class="form-group">
			<label>Payload:</label><br>
			<div class="col-md-4">
				Device Serial Number<input type="text" class="form-control" id="deviceSerialNum" name="deviceSerialNum">
			</div>
			<div class="col-md-4">
				On/Off<select class="form-control" id="onOff" name="onOff">
					<option disabled selected value> -- select On/Off -- </option>
					<option>On</option>
					<option>Off</option>
				</select>
			</div>
		</div><br><br><br>
		<div class="text-center">
			<button type="submit" class="btn btn-lg btn-primary">Send Request</button>
		</div>
	</form>
	<br>
	<!-- record logs -->
	<div class="container">
		<hr>
		<h4 class="text-success">Activity Logs</h4>
		<table class="table table-striped">
			<thead>
				<td scope="col">DateTime</td>
				<td scope="col">Topic</td>
				<td scope="col">Payload</td>
				<td scope="col">Device Type</td>
				<td scope="col">Status</td>
			</thead>
			<!-- topic TEXT, device TEXT, onOff TEXT -->
			{% for row in rows %}
			<tr>
				<td scope="row">{{row["dateTime"]}}</td>
				<td scope="row">{{row["topic"]}}</td>
				<td scope="row">{{row["payload"]}}</td>
				<td scope="row">{{row["deviceType"]}}</td>
				<td scope="row">{{row["onOff"]}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html> 